__Python Udemy Course section 10 Web / Financial application__ using Python with Bokeh and Pandas Dataframe reader

20-220  https://www.udemy.com/the-python-mega-course/learn/v4/t/lecture/5189200?start=6

In [117]:
import pandas
from pandas_datareader import data
import fix_yahoo_finance as fyf
import datetime
from bokeh.plotting import figure, show, output_file
from bokeh.models.annotations import Title

In [118]:
data.DataReader?

In [119]:
# start = datetime.datetime(2016,1,1)
# finish = datetime.datetime(2019,3,21)
start = datetime.datetime(2016,3,1)   # Y M D
finish = datetime.datetime(2016,3,10)

NB: Yahoo API as source ceased to function in 2017 - https://pandas-datareader.readthedocs.io/en/latest/remote_data.html - 2 workaround/fix proposed in answer (A & B):

In [120]:
# Alternative API fix A: https://www.udemy.com/the-python-mega-course/learn/v4/questions/4201842 - use iex 
#df = data.DataReader('AAPL', 'iex', '2018-01-01', '2018-03-31')
dfIEX = data.DataReader(name='MSI', data_source='iex', start=start, end=finish)
df

                open      high       low     close   volume
date
2016-01-04   63.2773   63.2773   62.2955   62.7724   910847
2016-01-05   62.1833   62.7537   61.5427   62.0804  1242057
2016-01-06   61.3136   62.2534   61.0144   61.1827   956417
2016-01-07   60.4347   61.0518   59.4154   59.9484  1197212
2016-01-08   60.1541   60.7339   59.8456   60.0793  1289109
2016-01-11   60.4627   60.7573   59.7147   60.1915   884791
2016-01-12   60.7152   60.8274   59.7053   60.6965  1125064
2016-01-13   60.8461   60.9209   59.0975   59.2565   877933
2016-01-14   59.5276   59.7614   58.8918   59.0133  1204631
2016-01-15   57.7884   58.2372   57.2395   57.5920  1290941
2016-01-19   58.2559   58.3120   56.7224   57.1619  1444720
2016-01-20   56.4605   56.8159   55.2917   56.4418  1247568
2016-01-21   56.4792   57.2928   56.1333   56.8720   839040
2016-01-22   57.5639   58.0829   57.4237   58.0128   741190
2016-01-25   57.9099   58.7889   57.5920   58.3681   881480
2016-01-26   58.4523   59.3126   58.3494   59.0601   762467
2016-01-27   59.7427   61.7064   59.3500   60.5936  1642387
2016-01-28   60.7432   61.2014   60.2009   60.5375  1126573
2016-01-29   60.8274   62.4545   60.5282   62.4358  1224630
2016-02-01   62.2581   62.8378   61.9215   62.5106  1108502
2016-02-02   61.7999   62.1178   59.8549   60.1448  2121171
2016-02-03   60.4534   61.3417   59.7053   60.6684   761663
2016-02-04   60.5001   60.6965   59.6679   60.0793   930263
2016-02-05   59.8362   60.0887   58.4616   58.7422  1082894
2016-02-08   58.1811   58.4242   57.2741   58.0595  1105532
2016-02-09   57.4985   59.2845   57.4891   58.1998  1223580
2016-02-10   58.6487   59.0694   56.9468   57.0122  1081174
2016-02-11   56.2829   56.8813   55.8995   56.5915   832792
2016-02-12   57.0403   57.9380   56.7411   57.7697   567568
2016-02-16   58.4149   59.3406   58.3120   59.3032   771201
...              ...       ...       ...       ...      ...
2019-02-07  119.3058  119.3257  117.3139  118.1405  1031726
2019-02-08  129.4148  136.2271  128.2794  134.8228  4429326
2019-02-11  134.8328  135.9881  133.4982  133.6376  1903121
2019-02-12  133.7472  137.7609  133.7472  136.6654  1823425
2019-02-13  136.8944  137.3625  135.8188  137.0837  1178017
2019-02-14  137.0837  137.4223  135.9383  136.6355   956314
2019-02-15  137.7808  138.3585  136.9841  138.0697  1077198
2019-02-19  137.4024  138.9262  137.3824  138.3485   773942
2019-02-20  138.6075  139.3445  137.9701  138.6473  1067872
2019-02-21  138.8166  139.0855  137.5518  137.8306   981294
2019-02-22  138.3286  139.4939  138.0298  139.4142   942656
2019-02-25  139.9819  140.8982  139.4839  140.6392   742426
2019-02-26  140.5994  141.6053  140.5994  141.0675  1130122
2019-02-27  140.8085  142.4419  140.8085  142.4120   757051
2019-02-28  142.6112  143.7267  142.1431  142.5415  1444114
2019-03-01  143.1590  143.9856  142.4519  143.0295   678351
2019-03-04  144.2546  144.3542  140.4699  141.4260  1087747
2019-03-05  141.4061  141.8543  140.4815  141.0277   808852
2019-03-06  141.0476  141.2069  139.2698  139.7130   690670
2019-03-07  139.9520  140.0715  138.1328  138.9262   886839
2019-03-08  137.3526  138.3784  135.4204  138.2888   707995
2019-03-11  137.6812  141.4061  137.6812  140.8783  1013672
2019-03-12  141.1970  141.6850  139.4740  139.6333   919815
2019-03-13  140.2906  141.2766  139.3644  140.4400   809534
2019-03-14  141.0000  141.0000  139.5650  140.0900  1305756
2019-03-15  139.9900  141.6200  139.8400  140.6400  1092726
2019-03-18  140.5600  141.1500  139.3200  140.5000   721419
2019-03-19  141.2200  141.2200  139.9700  140.4600   662502
2019-03-20  140.3500  140.8000  138.5050  138.7000   811610
2019-03-21  138.9600  141.2500  138.8150  140.6400   708197

[809 rows x 5 columns]

In [121]:
# # Alternative API fix B: using fix_yahoo_finance package as Yahoo API scat
# https://www.udemy.com/the-python-mega-course/learn/v4/questions/4201842
fyf.pdr_override()

In [122]:
# stock MSI - Motorola Solutions Inc 
dfYAHOO = data.DataReader(name='MSI', data_source='yahoo', start=start, end=finish)
dfYAHOO

                 High        Low       Open      Close   Volume  Adj Close
Date
2016-03-01  71.680000  69.309998  70.940002  71.190002  7223300  66.571297
2016-03-02  71.339996  70.389999  71.199997  71.279999  2762700  66.655434
2016-03-03  71.580002  70.750000  71.199997  71.250000  4199800  66.627396
2016-03-04  71.750000  70.779999  71.660004  70.949997  2543500  66.346848
2016-03-07  71.190002  70.470001  70.669998  71.010002  2181900  66.402962
2016-03-08  71.449997  70.639999  70.709999  71.099998  1652100  66.487114
2016-03-09  71.830002  71.169998  71.339996  71.480003  1636300  66.842476
2016-03-10  72.629997  70.680000  71.830002  71.220001  2886000  66.599335

In [123]:
# exploratory test for 'closing higher than open' values
dfYAHOO.index[dfYAHOO.Close > dfYAHOO.Open]
# DataFrame.Index to get whichever is the index
# DataFrame.SomeColumnName to get that column
# necessary for building candelestick graph using quadrants/rectangles

DatetimeIndex(['2016-03-01', '2016-03-02', '2016-03-03', '2016-03-07',
               '2016-03-08', '2016-03-09'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [124]:
fig = figure(x_axis_type='datetime', width=1000, height=300)
fig.title.text = 'Candlestick chart - financial'

In [125]:
dfYAHOO.Open

Date
2016-03-01    70.940002
2016-03-02    71.199997
2016-03-03    71.199997
2016-03-04    71.660004
2016-03-07    70.669998
2016-03-08    70.709999
2016-03-09    71.339996
2016-03-10    71.830002
Name: Open, dtype: float64

In [126]:
# 20-224 add a column to the dataframe to show price increase/decrease

def increase_decrease(close, open):
    if close > open:
        value = 'Increase'
    elif close < open:
        value = 'Decrease'
    else:
        value = 'Equal'
    return value


dfYAHOO['Status'] = [increase_decrease(close, open) for close, open, in zip(dfYAHOO.Close, dfYAHOO.Open)]
# what pattern is this??
dfYAHOO

,High,Low,Open,Close,Volume,Adj Close,Status
Date,,,,,,,
2016-03-01,71.680000,69.309998,70.940002,71.190002,7223300,66.571297,Increase
2016-03-02,71.339996,70.389999,71.199997,71.279999,2762700,66.655434,Increase
2016-03-03,71.580002,70.750000,71.199997,71.250000,4199800,66.627396,Increase
2016-03-04,71.750000,70.779999,71.660004,70.949997,2543500,66.346848,Decrease
2016-03-07,71.190002,70.470001,70.669998,71.010002,2181900,66.402962,Increase
2016-03-08,71.449997,70.639999,70.709999,71.099998,1652100,66.487114,Increase
2016-03-09,71.830002,71.169998,71.339996,71.480003,1636300,66.842476,Increase
2016-03-10,72.629997,70.680000,71.830002,71.220001,2886000,66.599335,Decrease

In [127]:
# 20-224 add a column to the dataframe to calculate value coordinate of middle of candlestick block (for rectangle y parameter)
dfYAHOO['BlockMiddle'] = (dfYAHOO.Open + dfYAHOO.Close)/2
dfYAHOO['Height'] = abs(dfYAHOO.Close - dfYAHOO.Open)
dfYAHOO

,High,Low,Open,Close,Volume,Adj Close,Status,BlockMiddle,Height
Date,,,,,,,,,
2016-03-01,71.680000,69.309998,70.940002,71.190002,7223300,66.571297,Increase,71.065002,0.250000
2016-03-02,71.339996,70.389999,71.199997,71.279999,2762700,66.655434,Increase,71.239998,0.080002
2016-03-03,71.580002,70.750000,71.199997,71.250000,4199800,66.627396,Increase,71.224998,0.050003
2016-03-04,71.750000,70.779999,71.660004,70.949997,2543500,66.346848,Decrease,71.305000,0.710007
2016-03-07,71.190002,70.470001,70.669998,71.010002,2181900,66.402962,Increase,70.840000,0.340004
2016-03-08,71.449997,70.639999,70.709999,71.099998,1652100,66.487114,Increase,70.904999,0.389999
2016-03-09,71.830002,71.169998,71.339996,71.480003,1636300,66.842476,Increase,71.410000,0.140007
2016-03-10,72.629997,70.680000,71.830002,71.220001,2886000,66.599335,Decrease,71.525002,0.610001

In [129]:
# fig.quad() - TODO: could use quadrants
# blocks: open/close, lines:low/high (trading)

hours_12 = 12 * 60 * 60 * 1000     # d H m ms - 1 half day's worth of milliseconds - (not conditional on increase/decrease)

# fig.rect(dfYAHOO.index, (dfYAHOO.Open + dfYAHOO.Close)/2, hours_12, abs(dfYAHOO.Open-dfYAHOO.Close))

# NB had to convert to datetime from DateTimeIndex
# x = pandas.to_datetime(dfYAHOO.index[dfYAHOO.Close > dfYAHOO.Open])   # https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DatetimeIndex.html
x = pandas.to_datetime(dfYAHOO.index[dfYAHOO.Status == 'Increase'])   # https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DatetimeIndex.html
# y = (dfYAHOO.Open + dfYAHOO.Close)/2
y = dfYAHOO.BlockMiddle[dfYAHOO.Status == 'Increase']
width = hours_12
# height = abs(dfYAHOO.Open - dfYAHOO.Close)
height = dfYAHOO.Height[dfYAHOO.Status == 'Increase']
# fill color GREEN if price went down through day    
fig.rect(x=x, y=y, width=width, height=height, fill_color='green', line_color='black')    # x,y,width, height
# base of rect, middle of rect, width, height (whether open>close or vice versa) https://bokeh.pydata.org/en/latest/docs/reference/plotting.html#bokeh.plotting.figure.Figure.rect

# x = pandas.to_datetime(dfYAHOO.index[dfYAHOO.Close < dfYAHOO.Open])   # https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DatetimeIndex.html
x = pandas.to_datetime(dfYAHOO.index[dfYAHOO.Status == 'Decrease'])   # https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DatetimeIndex.html
# y = (dfYAHOO.Open + dfYAHOO.Close)/2
y = dfYAHOO.BlockMiddle[dfYAHOO.Status == 'Decrease']
width = hours_12
# height = abs(dfYAHOO.Open - dfYAHOO.Close)
height = dfYAHOO.Height[dfYAHOO.Status == 'Decrease']
# fill color RED if price went down through day    
fig.rect(x=x, y=y, width=width, height=height, fill_color='red', line_color='black')    # x,y,width, height

# TODO: remove commented lines in separate cell to show final code used


output_file('Candlestick.html')
show(fig)